        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Comic Sans MS', cursive, sans-serif;
            margin: 0px;
            background: #a33131;
            height: 100%;
        }

        /* Header/Blog Title */

        .header {
            background-image: url('../images/fastfood-banner.jpg');
            padding: 30px;
            text-align: left;
            font: 15px/1.5 Arial, Helvetica, sans-serif;
            color: rgb(250, 249, 249);
        }

        .logo {
            float: right;
            height: 30%;
            width: 10%;
            top: 0px;
        }

        /* Center the loader */
        #loader {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #a33131;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }

        .header h1 {
            font-size: 50px;
        }

        /* Style the top navigation bar */

        .topnav {
            overflow: hidden;
            background-color: #333;
            font: 15px/1.5 Arial, Helvetica, sans-serif;
        }

        /* Style the topnav links */

        .topnav h1, .login {
            float: left;
            display: block;
            color: rgb(255, 248, 248);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topnav .login {
            float: right;
            margin-top: 1%;
        }

        .topnav h1 {
            padding: 0%;
            padding-left: 2%;
        }
        .topnav h1:hover {
            cursor: pointer;
        }
        #logo {
            width: 30px;
            height: 70%;
        }

        .topnav a:hover {
            background-color: rgb(235, 72, 72);
            color: black;
        }

        .login {
            padding-right: 5px;
        }

        /* Create two unequal columns that floats next to each other */

        .leftcolumn {
            float: left;
            text-align: left;
            width: 70%;
        }

        /* Right column */

        .rightcolumn {
            float: left;
            width: 30%;
            margin-top: 8%;
            background: rgba(0, 0, 0, 0.425);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-left: 20px;
        }

        /* Fake image */

        .fakeimg {
            background-color: #aaa;
            width: 100%;
            height: 88px;
            padding: 5px;
        }
        .img-valign {
            vertical-align: middle;
            margin-bottom: 0.75em;
        }
        .food-desc {
            word-wrap: break-word;
            font-size: 15px;
        }

        /* Add a card effect for articles */

        .card {
            padding: 14px;
            margin-top: 20px;
        }
        
        .main-card {
            height: 600px;
            padding: 15%;
            font-size: 2em;
            color: white;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .main-card img {
            width: 100%;
        }

        .signup {
            background-color: rgba(235, 72, 72);
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="number"],
        input[type="file"],
        textarea {
            width: 96%;
            height: 40px;
            border-radius: 4px;
            font-size: 17px;
            padding-left: 2%;
            border: 1px solid rgb(240, 174, 143);
        }

        .form_label {
            color: white;
            font-weight: bold;
            font-size: 25px;
        }

        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .inputfile+label {
            font-size: 1em;
            font-weight: 700;
            color: white;
            background-color: #1c1563;
            display: inline-block;
            cursor: pointer;
            width: 96%;
            height: 40px;
            padding: 8px;
            text-align: center;
            border-radius: 2px;
        }

        .inputfile:focus+label,
        .inputfile+label:hover {
            opacity: 0.8;
        }

        input[type="button"] {
            min-width: 50px;
            padding:3px;
            border: 0px;
            border-radius: 5px;
            color: white;
            background-color: #a33131;
            font-weight: bold;
            font-size: 20px;
            width: 96%;
            height: 40px;
        }

        input[type="button"]:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        textarea {
            height: 75px;
            padding: 3%;
        }

        #login-click {
            background: rgb(81, 188, 238);
            color: #333;
            border-radius: 2px;
            margin-left: 25px;
            width: 20%;
            height: 30px;
        }

        #signup input[type='button'] {
            background: rgb(81, 188, 238);
            color: #333;
        }

        .my-login > input[type="email"],
        .my-login > input[type="password"] {
             width: 33%;
             height: 30px;
             margin-left: 10px;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
        /* Clear floats after the columns */

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        #background {
            width: 100%;
            background: url('../images/burrito-chicken.jpg');
            width: 100%;
            margin-left: 0%;
            height: 100vh;
        }

        #overlay {
            width: 100%;
            height: 100%;
            padding-right: 5%;
            background: rgba(51, 51, 51, 0.384);
        }
        #food-content,
        #order-content {
            height: 100vh;
        }
        /* Footer */

        .footer {
            position: relative;
            width: 100%;
            bottom: 0%;
            color: white;
            padding: 0.1px;
            text-align: center;
            background: rgba(51, 51, 51, 0.356);
        }

         @media screen and (min-width: 801px) {
             .login {
                 margin-right: 0%;
             }
         }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

        @media screen and (max-width: 800px) {
            #food-content,
            #order-content {
                min-height: 10vh;
                height: auto;
                margin-bottom: 20px;
            }
            .leftcolumn,
            .rightcolumn {
                width: 100%;
                padding: 0;
            }
            .my-login {
                height: 30px;
            }
            .topnav h1 {
                padding: 0%;
                padding-left: 6%;
            }
            .my-login>input[type="email"],
            .my-login>input[type="password"] {
                margin-top: 4%;
                width: 100%;
                height: 30px;
                margin-left: auto;
            }
            #overlay {
                padding-right: 0%;
            }
            #login-click {
                float: right;
                margin-top: 4%;
                width: 100%;
                height: 30px;
            }
            .small {
                width: 100% !important;
            }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

        @media screen and (max-width: 400px) {
            .topnav a {
                float: none;
                width: 100%;
            }

            .main-card {
                height: 500px;
                font-size: 1.3em;
            }
        }